<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{MMM dd yyyy HH:mm:ss,SSS} %-5p %c - %m%n"/>
        </layout>
    </appender>
    <!--过滤器设置输出的级别 -->
    <filter class="org.apache.log4j.varia.LevelRangeFilter">
        <param name="levelMin" value="info"/>
        <param name="levelMax" value="warn"/>
        <param name="AcceptOnMatch" value="true"/>
    </filter>

    <appender class="org.apache.log4j.RollingFileAppender" name="file">
        <param name="File" value="c:/logs/perform.log"/>
        <param name="MaxFileSize" value="102400KB"/>
        <param name="MaxBackupIndex" value="20"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %-17c{2} (%13F:%L) %3x - %m%n"/>
        </layout>
    </appender>

    <category name="com.heren.turtle" additivity="false">
        <priority value="INFO"/>
        <appender-ref ref="file"/>
    </category>


    <category name="org.springframework" additivity="false">
        <priority value="ERROR"/>
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </category>


    <root>
        <priority value="INFO"/>
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>


</log4j:configuration>