<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  *****************************************************************************
  ~  * Copyright ( c ) 2016 Heren Tianjin Inc. All Rights Reserved.
  ~  *
  ~  * This software is the confidential and proprietary information of Heren Tianjin Inc
  ~  * ("Confidential Information").  You shall not disclose such Confidential Information
  ~  *  and shall use it only in accordance with the terms of the license agreement
  ~  *  you entered into with Heren Tianjin or a Heren Tianjin authorized
  ~  *  reseller (the "License Agreement").
  ~  ****************************************************************************
  ~  */
  -->

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
    </typeAliases>
</configuration>